<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../views/output.css">
  <link rel="shortcut icon" href="images/ecodrive  Logo.png" type="image/x-icon">
  <link rel="stylesheet" href="../public/css/index.css">
  <title>Contact-EcoDrive</title>
</head>

<body>
  <!-- Navbar Section-->
  <nav class="bg-white fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a href="/Home" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="images/ecodrive  Logo.png" class="h-16" alt="EcoDrive Logo">
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">EcoDrive</span>
      </a>
      <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <button type="button">
          <a href="/connexion"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Espace
            Candidat </a>
        </button>
        <button data-collapse-toggle="navbar-sticky" type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="navbar-sticky" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15" />
          </svg>
        </button>
      </div>
      <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
        <ul
          class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li>
            <a href="/Home"
              class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500"
              aria-current="page">Accueil</a>
          </li>
          <li>
            <a href="/about"
              class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
              Qui sommes-nous ?</a>
          </li>
          <li>
            <a href="/forfait"
              class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Nos
              Forfaits </a>
          </li>
          <li>
            <a href="/programme"
              class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Actualités
            </a>
          </li>
          <li>
            <a href="/contact"
              class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <!-- component -->
  <link rel="stylesheet" href="https://cdn.tailgrids.com/tailgrids-fallback.css" />

  <!-- ====== Contact Section Start -->
  <section class="bg-white py-20 lg:py-[120px] overflow-hidden relative z-10">
    <div class="container">
      <div class="flex flex-wrap lg:justify-between -mx-4">
        <div class="w-full lg:w-1/2 xl:w-6/12 px-4">
          <div class="max-w-[570px] mb-12 lg:mb-0">
            <span class="block mb-10 text-[40px] text-primary font-semibold">
              Envoyer Nous Un Message:
            </span>
            <h2 class="
                  text-dark
                  mb-6
                  uppercase
                  font-bold
                  text-[60px]
                  sm:text-[40px]
                  lg:text-[36px]
                  xl:text-[40px]
                  ">
              Contactez-Nous
            </h2>
            <p class="text-base text-body-color leading-relaxed mb-9">
              Pour toute demande, n’hésitez pas à compléter le formulaire ci-dessous,
              Nous vous répondrons dans les meilleurs délais.
            </p>

          </div>
        </div>
        <div class="w-full lg:w-1/2 xl:w-5/12 px-4">
          <div class="bg-white relative rounded-lg p-8 sm:p-12 shadow-lg">
            <form method="post" action="/send">
              <div class="mb-6">
                <input type="text" placeholder="Votre Nom " name="Nom" class="
                        w-full
                        rounded
                        py-3
                        px-[14px]
                        text-body-color text-base
                        border border-[f0f0f0]
                        outline-none
                        focus-visible:shadow-none
                        focus:border-primary
                        " />
                        
              </div>
              <div class="mb-6">
                <input type="email" placeholder="Vote Email" name="email" class="
                        w-full
                        rounded
                        py-3
                        px-[14px]
                        text-body-color text-base
                        border border-[f0f0f0]
                        outline-none
                        focus-visible:shadow-none
                        focus:border-primary
                        " />
                        
              </div>
              <div class="mb-6">
                <input type="text" placeholder="Votre Sujet" name="sujet" class="
                        w-full
                        rounded
                        py-3
                        px-[14px]
                        text-body-color text-base
                        border border-[f0f0f0]
                        outline-none
                        focus-visible:shadow-none
                        focus:border-primary
                        " />
                        
              </div>
              <div class="mb-6">
                <textarea rows="6" placeholder="Votre Message" name="message" class="
                        w-full
                        rounded
                        py-3
                        px-[14px]
                        text-body-color text-base
                        border border-[f0f0f0]
                        resize-none
                        outline-none
                        focus-visible:shadow-none
                        focus:border-primary
                        "></textarea>
                          
              </div>
              <div>
                <button type="submit" class="
                        w-full
                        text-white
                        bg-primary
                        rounded
                        border border-primary
                        p-3
                        transition
                        hover:bg-opacity-90
                        ">
                  Envoyer Message
                </button>
              </div>
            </form>


            <div>
              <span class="absolute -top-10 -right-9 z-[-1]">
                <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M0 100C0 44.7715 0 0 0 0C55.2285 0 100 44.7715 100 100C100 100 100 100 0 100Z" fill="#3056D3" />
                </svg>
              </span>
              <span class="absolute -right-10 top-[90px] z-[-1]">
                <svg width="34" height="134" viewBox="0 0 34 134" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="31.9993" cy="132" r="1.66667" transform="rotate(180 31.9993 132)" fill="#3056D3" />
                  <circle cx="31.9993" cy="117.333" r="1.66667" transform="rotate(180 31.9993 117.333)" fill="#3056D3" />
                  <circle cx="31.9993" cy="102.667" r="1.66667" transform="rotate(180 31.9993 102.667)" fill="#3056D3" />
                  <circle cx="31.9993" cy="88" r="1.66667" transform="rotate(180 31.9993 88)" fill="#3056D3" />
                  <circle cx="31.9993" cy="73.3333" r="1.66667" transform="rotate(180 31.9993 73.3333)" fill="#3056D3" />
                  <circle cx="31.9993" cy="58.6667" r="1.66667" transform="rotate(180 31.9993 58.6667)" fill="#3056D3" />
                  <circle cx="31.9993" cy="44" r="1.66667" transform="rotate(180 31.9993 44)" fill="#3056D3" />
                  <circle cx="31.9993" cy="29.3333" r="1.66667" transform="rotate(180 31.9993 29.3333)" fill="#3056D3" />
                  <circle cx="31.9993" cy="14.6667" r="1.66667" transform="rotate(180 31.9993 14.6667)" fill="#3056D3" />
                  <circle cx="31.9993" r="1.66667" transform="rotate(180 31.9993 0)" fill="#3056D3" />
                  <circle cx="17.3333" cy="132" r="1.66667" transform="rotate(180 17.3333 132)" fill="#3056D3" />
                  <circle cx="17.3333" cy="117.333" r="1.66667" transform="rotate(180 17.3333 117.333)" fill="#3056D3" />
                  <circle cx="17.3333" cy="102.667" r="1.66667" transform="rotate(180 17.3333 102.667)" fill="#3056D3" />
                  <circle cx="17.3333" cy="88" r="1.66667" transform="rotate(180 17.3333 88)" fill="#3056D3" />
                  <circle cx="17.3333" cy="73.3333" r="1.66667" transform="rotate(180 17.3333 73.3333)" fill="#3056D3" />
                  <circle cx="17.3333" cy="58.6667" r="1.66667" transform="rotate(180 17.3333 58.6667)" fill="#3056D3" />
                  <circle cx="17.3333" cy="44" r="1.66667" transform="rotate(180 17.3333 44)" fill="#3056D3" />
                  <circle cx="17.3333" cy="29.3333" r="1.66667" transform="rotate(180 17.3333 29.3333)" fill="#3056D3" />
                  <circle cx="17.3333" cy="14.6667" r="1.66667" transform="rotate(180 17.3333 14.6667)" fill="#3056D3" />
                  <circle cx="17.3333" r="1.66667" transform="rotate(180 17.3333 0)" fill="#3056D3" />
                  <circle cx="2.66536" cy="132" r="1.66667" transform="rotate(180 2.66536 132)" fill="#3056D3" />
                  <circle cx="2.66536" cy="117.333" r="1.66667" transform="rotate(180 2.66536 117.333)" fill="#3056D3" />
                  <circle cx="2.66536" cy="102.667" r="1.66667" transform="rotate(180 2.66536 102.667)" fill="#3056D3" />
                  <circle cx="2.66536" cy="88" r="1.66667" transform="rotate(180 2.66536 88)" fill="#3056D3" />
                  <circle cx="2.66536" cy="73.3333" r="1.66667" transform="rotate(180 2.66536 73.3333)" fill="#3056D3" />
                  <circle cx="2.66536" cy="58.6667" r="1.66667" transform="rotate(180 2.66536 58.6667)" fill="#3056D3" />
                  <circle cx="2.66536" cy="44" r="1.66667" transform="rotate(180 2.66536 44)" fill="#3056D3" />
                  <circle cx="2.66536" cy="29.3333" r="1.66667" transform="rotate(180 2.66536 29.3333)" fill="#3056D3" />
                  <circle cx="2.66536" cy="14.6667" r="1.66667" transform="rotate(180 2.66536 14.6667)" fill="#3056D3" />
                  <circle cx="2.66536" r="1.66667" transform="rotate(180 2.66536 0)" fill="#3056D3" />
                </svg>
              </span>
              <span class="absolute -left-7 -bottom-7 z-[-1]">
                <svg width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="66.9998" cy="66.9998" r="66.9998" fill="#13C296" />
                  <mask id="mask0_88:882" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                    width="134" height="134">
                    <circle cx="66.9998" cy="66.9998" r="66.9998" fill="#13C296" />
                  </mask>
                  <g mask="url(#mask0_88:882)">
                    <circle cx="66.9998" cy="66.9998" r="66.9998" fill="#13C296" />
                    <circle cx="66.9998" cy="66.9998" r="66.9998" fill="url(#paint0_radial_88:882)" />
                    <g opacity="0.8" filter="url(#filter0_f_88:882)">
                      <circle cx="77.5" cy="22.5" r="25.5" fill="#13C296" />
                    </g>
                  </g>
                  <defs>
                    <filter id="filter0_f_88:882" x="27" y="-28" width="101" height="101" filterUnits="userSpaceOnUse"
                      color-interpolation-filters="sRGB">
                      <feFlood flood-opacity="0" result="BackgroundImageFix" />
                      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                      <feGaussianBlur stdDeviation="12.5" result="effect1_foregroundBlur_88:882" />
                    </filter>
                    <radialGradient id="paint0_radial_88:882" cx="0" cy="0" r="1"
                      gradientUnits="userSpaceOnUse"
                      gradientTransform="translate(66.9998 66.9998) rotate(90) scale(66.9998)">
                      <stop offset="0.520833" stop-opacity="0" />
                      <stop offset="1" stop-opacity="0.08" />
                    </radialGradient>
                  </defs>
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== Contact Section End -->

  <!-- Footer Section-->
  <footer class="footer">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>

    </div>
    <ul class="social-icon">
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-facebook"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-twitter"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-instagram"></ion-icon>
        </a></li>
    </ul>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="/Home">Accueil</a></li>
      <li class="menu__item"><a class="menu__link" href="/about">Qui sommes-nous ?</a></li>
      <li class="menu__item"><a class="menu__link" href="/forfait">Nos Forfaits</a></li>
      <li class="menu__item"><a class="menu__link" href="/programme">Actualités</a></li>
      <li class="menu__item"><a class="menu__link" href="/contact">Contact</a></li>

    </ul>
    <p>&copy;2024 EcoDrive | All Rights Reserved</p>
  </footer>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>
